@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Quicksand', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    color: #fff;
}

body::-webkit-scrollbar{
    display: none;
  }

.header-img img {
    width: 700px;
    margin-left: 130px;
    margin-top: 170px;
}


header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgroundatas.png);
    background-size: cover;
    background-position: center;

}

nav a img {
    width: 70px;
    margin-top: 20px;
    margin-left: -100px;
}

.container {
    padding: 10px 10%;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #d2af24;
}

/* feature */
.container-head {
    display: flex;
    justify-content: space-around
}

.feature {
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 20px;
    width: 300px;
    border: 1px solid #97C14B;
}

.features a  {
    text-decoration: none;
}

.features {
    text-decoration: none;
}

.feature img{
    width: 100px;
    margin-top: 5px;
}

.feature a {
    color: #262626;
    font-weight: 600;
    margin-top: 5px;
}

.feature p {
    color: #262626;
    font-size: 15px;
    margin-top: 5px;
}

.feature:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
    transition: all 0.5s ease;
    color: #97C14B;
}

/* about */

.about-col-1 img {
    width: 450px;
    border-radius: 15px;
}

#about {
    padding: 80px 0;
    color: #d2af24;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2 {
    flex-basis: 45%;
    color: #fff;
    vertical-align: middle;
    margin-top: 50px;
}


.hidden {
    opacity: 0;
    filter: blur(0);
    transform: translateY(-10px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(-70px);
}

.hidden img {
    width: 550px;
}

.about-col-2 p {
    text-align: justify;
    color: #262626;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 400;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #262626;
}

h1 {
    text-align: center;
    position: relative;
}

h1:after {
    content: "";
    position: absolute;
    display: block;
    left: 40%;
    bottom: -10px;
    width: 20%;
    height: 5px;
    background-color: #97C14B;
    /* opacity: 5%; */
    border-radius: 10px;
}


.sub-title-about {
    font-size: 45px;
    font-weight: 600;
    color: #262626;
    text-align: left;
    align-items: center;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px ;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #97C14B;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #97C14B;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* service*/

#service {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #645311;
    transform: translateY(-10px);
}

/*---------product-----------*/

#product {
    padding: 50px 0;    
}


.sub-title-description {
    text-align: center;
    color: #5E5E5E;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.products {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #97C14B;
    padding-top: 1px;

}


.products img {
    width: 370px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    justify-content: center;
    
}

.product-subtitle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    display: flex;
}

.products-description h2 {
    color: #262626;
}

.produklagi {
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    text-align: center;
}


.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(#262626, #262626);
    opacity: 80%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer .more {
    margin-top: 20px;
    color: #97C14B;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}


.products:hover img {
    transform: scale(1.1);
}



.products:hover .layer {
    height: 100%;
}



.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #97C14B;
    padding: 14px 50px;
    border-radius: 50px;    
    text-decoration: none;
    color: #97C14B;
    transition: background 0.5s;
}

.btn:hover {
    background: #97C14B;
    color: #fff;
}

/* Access */
#access {
    padding: 50px 0;
}

.accesses {
    border-radius: 10px;
    overflow: hidden;
    border-color: #97C14B;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    padding: 0px 0px;
}

.access-list {
    display: flex;
    grid-template-columns: repeat(auto-fit);
    grid-gap: 40px;
    margin-top: 50px;
    justify-content: center;
}

.accesses img {
    width: 200px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    justify-content: center;
}

.accesses h3 {
    font-weight: 600;
    font-size: 35px;
    color: #262626;
    text-align: center;
}

.accesses p {
    font-weight: 300;
    font-size: 15px;
    color: #262626;
    text-align: center;
    margin: 30px;
}

/* .accesses:hover img {
    transform: scale(1.1);
} */


.accesses:hover .layer {
    height: 100%;
}

/*contact*/

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contacts {
    display: flex;
    margin-top: 40px;
}

.contact-icon {
    display: block;
}

.contact-icon p {
    padding-bottom: 5px;
}

.contact-desc {
    display: block;
    margin-top: -10px;

}

.contact-desc p{
    margin-top: -10px;
}


.deskripsi-kontak p,a {
    text-decoration: none;
    color: #262626;
}

.contact-left p {
    margin-top: 30px;
    color: #262626;
}

.contact-left p a {
    text-decoration: none;
    color: #262626;
}

.contact-left p i {
    color: #97C14B;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
    color: #97C14B;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #97C14B;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #97C14B;
    color: #ffffff;
}

.btn.btn2:hover {
    background: #6B9028;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 1px solid #97C14B;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: #262626;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #97C14B;
    font-weight: 300;
    margin-top: 20px; 
}

/*responsive css*/

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 900px){


    header {
        background-image: url(../img/backgroundatas.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 15px;
    }

    .header-img img {
        width: 250px;
        margin-left: 0;
        margin-top: 200px;

    }

    .header-img{
        display: flex;
        justify-content: center;
    }

    .container-head {
        display: flex;
        justify-content: center;
    }

    .container-head {
        display: block;
        margin: 20px;
    }

    nav a img {
        width: 50px;
    }

    .products img {
        width: 300px;
    }

    .products {
        display: flex;
        justify-content: center;
    }
    
    .produklagi h2 {
        margin-bottom: 10px;
    }

    .hidden{
        display: flex;
        justify-content:center ;
    }

    .hidden img {
        width: 300px;
        padding-top: 30px;
        margin-top: 30px;
       
    }

    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    
    nav ul {
        background: #97C14B;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .access-list {
        display: block;
    }

    .accesses {
        margin-top: 20px;
    }

    .accesses h3 {
        font-size: 20px;
    }

    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-1 img {
        width: 305px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .about-col-2 p{
        text-align: justify;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
    .contact-left  p {
        font-size: 14px;
    }
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}